<section class="contact">
  <h1 class="text-teal text-center mt-4" style="font-weight: bold;">Get in Touch</h1>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2> <u>Feel Free to Contact</u></h2>
      <p>Hello Everyone! Have a great day :) If you want to know something or you have any suggestion then please mail
        me. Thank You.</p>

      <mat-list *ngFor="let info of contactInfo">
        <mat-list-item>
          <mat-icon matListIcon>{{info.icon}}</mat-icon>
          <div matLine> {{info.line}} </div>
        </mat-list-item>
      </mat-list>
    </div>

    <mat-card class="col-lg-6 col-md-6 col-sm-12" color="primary">
      <h2 *ngIf="!isLoading">
        <u>Send a query</u>
      </h2>

      <form [formGroup]="queryForm" (ngSubmit)="onQuerySubmit()"  *ngIf="!isLoading">
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input type="text" matInput placeholder="Name" formControlName="name" required>
          <mat-error>name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput placeholder="abc@gmail.com" formControlName="email" required>
          <mat-error> please Enter a valid email </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contact No. </mat-label>
          <input type="number" matInput placeholder="Mobile no" formControlName="mobile" required>
          <mat-error>contact no is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Your Query</mat-label>
          <textarea matInput placeholder="Ask something" formControlName="query" rows="4"></textarea>
          <mat-error>field is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="queryForm.invalid">Send</button>
      </form>
      <mat-spinner class="spinner" color="accent" *ngIf="isLoading"></mat-spinner>
    </mat-card>
  </div>
</section>
