<section class="services">
  <h1 class="text-teal text-center" style="font-weight: bold;">
    Our Services
  </h1>
  <div class="row" style="padding: 10px;">
    <div class="col-lg-6 col-md-6 col-sm-12 p-3">
      <ul>
        <li>
          <img src="/assets/images/installation.png" alt="installation" class="icon-img">
        </li>
        <li>
          <h2>Installation</h2>
        </li>
        <li>Ac Installation</li>
        <li>chiller Plant Installation</li>
        <li>Under Ground Fitting</li>
        <li>Light Fitting</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 p-3">
      <ul>
        <li>
          <img src="/assets/images/reapir1.png" alt="Repairing" class="icon-img">
        </li>
        <li>
          <h2>Repairing</h2>
        </li>
        <li>Refrigerator Repairing </li>
        <li>Water Cooler Repairing</li>
        <li>Ice cube machine</li>
        <li>Washing machine </li>
        <li>Gas filling</li>
      </ul>
    </div>
  </div>
</section>
