.services{
  padding: 20px;
}
.icon-img{
  height: 8rem;
  width: 8rem;
  // margin-left: 34%;
}

ul{
  margin: 0em;
  padding: 0em;
  list-style: none;
  margin-left: 27%;
  font-size: 1.1em;
  line-height: 20px;
}
