.navbar {
  height: 64px;
  width: 100%;
  background-color: #32838f;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 999;
}

#icon {
  display: none;
  color: white;
}
.bigcool {
  font-family: "Playball", cursive;
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
}
.menu-items {
  margin: 0em;
  padding: 0em;
  position: absolute;
  right: 5%;
}
button {
  outline: none;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(6, 85, 85);
  color: #ffffff;
  padding: 10px;
  h3 {
    font-weight: bold;
    a {
      margin: 2px;
    }
    a:hover {
      text-decoration: none;
      color: white;
    }
  }
}

@media only screen and (max-width: 768px) {
  .menu-items {
    display: none;
  }
  #icon {
    display: block;
    margin-left: 40%;
  }
  .bigcool {
    font-size: 20px;
    left: 33%;
  }
  mat-drawer {
    background-color: #32838f;
    min-width: 70%;
    position: fixed;
    .bigcool {
      left: 73px;
      color: white;
    }
    mat-icon {
      color: white;
    }
  }
  #menu-items {
    margin: 0em;
    padding: 0em;
    list-style-type: none;
    color: #ffffff;
  }
}
