<section style="background-color: rgb(224, 231, 231);padding: 20px;margin-top: -20px;">
  <h1 class="text-teal text-center mt-4" style="font-weight: bold;">About BigCool Air Conditioner & Climate Zone</h1>
<div class="row" style="padding: 10px;">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img src="/assets/images/about.jpg" alt="image" class="d-block w-100 mx-auto">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <p class="mx-auto">
      BigCool is a team of experts in installation of Air Conditioners, Chiller plants, Ice Cube Machines and Repairing By our Passion for comfort and customer satisfaction. we are provide a full range of services for Homeowners, business owners and newly constructed buildings. Our Services is Available in Jaipur and borderline region around 70-80 km of range.
    </p>
    <ul class="about mx-auto">
      <li> New Ac Installation package</li>
      <li> AC Repairing package </li>
      <li> Chiller plant Installation package</li>
      <li> Chiller plant Repairing package</li>
      <li> Ice Cube Mechine package</li>
    </ul>
  </div>
</div>
</section>
