.about{
  margin: 0em;
  padding: 0em;
  list-style: none;
  li:before {
    content: '✓';
    line-height: 25px;
  }
}


.col-md-6{
  p{
    font-size: 1.2em;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
}
