.navbar {
  position: fixed;
  top: 0em;
  z-index: 999;
  .logout-btn {
    position: absolute;
    right: 3%;
  }
}
.bigcool {
  font-family: "Playball", cursive;
  font-size: 1.8em;
  font-weight: bold;
}

button {
  outline: none;
  border: none;
}

.queries {
  position: absolute;
  top: 58px;
  width: 100%;
  background-color: #e0e7e7;
  box-sizing: border-box;
  padding: 20px;
  min-height: 91vh;
  mat-card {
    margin: 5px 0px;
    button.delete{
      position: absolute;
      right: 0em;
      top: 0px;
    }
    button.mks, span.mks{
      position: absolute;
      right: 0;
      bottom: 0em;
    }
    span.mks{
      color: rgb(107, 235, 107);
      right: 10px;
    }
  }
}
.bg-solved{
  background-color: rgb(221, 248, 248);
}

mat-spinner{
  position: fixed;
  top: 44vh;
  left: 45%;
  height: 2em;
}


@media only screen and (max-width: 768px) {
  mat-spinner{
    left: 33%;
  }
}
