.team {
  padding: 20px;
  background-image: linear-gradient(135deg, #E0E7E7, rgb(212, 212, 140));
  background-attachment: fixed;
  div.col-sm-12{
    display: flex;
    justify-content: center;
    margin: 5px 0em;
  }
}
.card-box {
  width: 90%;
  img{
    max-height: 258px;
    background-color: teal;
  }
}
.card-body{
  h4{
    font-size: 1.2em;
    font-weight: bold
  }
}
